# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# log files
*.log*

# network exports
network-exports/

# bfg reports
bfg-report*

# R
# History files
/*.Rhistory
# Session Data files
/*.RData